includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - packages/CleanScripts/CleanFileManager

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        # Ignorowanie nierozpoznawalnych funkcji scope z Laravela od Eloquent Buildera
        # - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:\w+\(\)#'
#        - '#PHPDoc tag @var#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false